In [1]:
# import dependencies
import pandas as pd

In [2]:
# read in csv file
cities = pd.read_csv('cities.csv')

In [3]:
# preview to make sure df looks correct
cities.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Lorengau,PG,1650487883,-2.0226,147.2712,82.58,72,61,11.03
1,1,Rikitea,PF,1650487883,-23.1203,-134.9692,78.60,72,2,19.53
2,2,Hithadhoo,MV,1650487884,-0.6000,73.0833,82.87,70,97,3.67
3,3,Baghmara,IN,1650487885,23.7950,86.2085,79.68,78,0,8.75
4,4,Torbay,CA,1650487885,47.6666,-52.7314,47.28,88,100,33.38

In [4]:
# set index to City_ID
cities.set_index('City_ID', inplace=True)

# preview
cities.head()

,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
City_ID,,,,,,,,,
0,Lorengau,PG,1650487883,-2.0226,147.2712,82.58,72,61,11.03
1,Rikitea,PF,1650487883,-23.1203,-134.9692,78.60,72,2,19.53
2,Hithadhoo,MV,1650487884,-0.6000,73.0833,82.87,70,97,3.67
3,Baghmara,IN,1650487885,23.7950,86.2085,79.68,78,0,8.75
4,Torbay,CA,1650487885,47.6666,-52.7314,47.28,88,100,33.38

In [5]:
# export to html
cities.to_html("cities.html")